header {
  display: flex;
  align-items: center;
  /*background-color: #66CCFF;*/
  
}

.header-main {
  margin-right: auto;
}

nav {
  margin-left: auto;
  /*background-color: #FCF6F5FF;*/
  padding: 10px;
}

Link {
  text-decoration: none;
}
