header {
  display: flex;
  align-items: center;
  background-color: #FCF6F5FF;
  
}


.header-main {
  margin-right: auto;
}

nav {
  margin-left: auto;
  background-color: #FCF6F5FF;
  padding: 10px;
}