.home-main-content {
  width: 500px;
}

.container1 {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
}

img {
  width: 250px; 
  height: auto;
}

.line {
  flex-grow: 1;
  flex-shrink: 1;
}

.spacer {
  height: 50px;
}

.skills-container {
  display: flex;
}

.skills {
  display: inline-block;
  margin-right: 5px; 
}