.home-main-content {
  width: 500px;
}

#home-summary {
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  background-color: #CCCCCC;
  padding: 10px;
}


#home-summary:hover {
  border: 1px solid grey;
  color: whitesmoke;
  background-color: #808080;
  padding: 10px;
}

.container1 {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
}

.line1 img {
  width: 230px;
  height: auto;
  border-radius: 10px;
  
}

.line1 img:hover {
  border: 2px solid #808080;
}

.skills-container img {
  width: 30px; 
  height: auto;
  
  
}

.skills-container-2 img {
  width: 30px; 
  height: auto;
  
  
}

.skills-container img:hover {
  width: 50px; 
  height: auto;
  
}

.skills-container-2 img:hover {
  width: 50px; 
  height: auto;
  
}
.skill:hover {
  
  text-decoration: underline;
  
}

.line {
  flex-grow: 1;
  flex-shrink: 1;
}

.spacer {
  height: 40px;
}

.skills-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #00539C;
  padding: 10px;
}

.skills-container-2 {
  display: flex;
  justify-content: space-evenly;
  background-color: #00539C;
}

.skills {
  /*display: inline-block;*/
  flex-grow: 1;
  flex-shrink: 1;
  
}

figcaption {
  font-size: large;
  font-weight: bolder;
  color: white;
}