

/* apply styles to every other div */
 /*#project-content {
 text-align: center;
  border: lightgray 1px solid;
  
}*/

#project-content {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}
#project_head {
  text-align: center;
  font-size: xx-large;
  margin: 0px;
}

.project-heading {
  text-align: center;
}

#CM {
  text-align: left;
  font-weight: 200;
  font-size: large;
  margin: 5px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.PSocialMedia {
  text-align: right;
  margin: 5px;
  
}


.Iproject:nth-child(even) {
  /*background-color: #FFFF;*/
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  border: #CCCCCC 1px solid;
  border-radius: 10px;
  
  margin-bottom: 10px;
  background-color: #CCCCCC;
  
  
}

.Iproject:nth-child(even):hover {
  /*background-color: #FFFF;*/
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  border: #CCCCCC 1px solid;
  border-radius: 20px;
  
  margin-bottom: 10px;
  background-color: #808080;
  color: whitesmoke;
  margin-left: 80px;
  margin-right: 80px;
  
  /*color: whitesmoke;*/
  
  
}

/* apply styles to odd-numbered divs */
.Iproject:nth-child(odd) {
  background-color: #CCCCCC;
  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  border: #CCCCCC 1px solid;
  border-radius: 10px;
  
  margin-bottom: 10px;
  
}

.Iproject:nth-child(odd):hover {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  border: #CCCCCC 1px solid;
  border-radius: 20px;
  
  margin-bottom: 10px;
  background-color: #808080;
  color: whitesmoke;
  margin-left: 80px;
  margin-right: 80px;
}


.project-images {
  border: lightgray 1px solid;
  background-color: #CCCCCC;
  text-align: center;
  
  
}

.project-images img {
  /*border: lightgray 1px solid;*/
  /*margin: ;*/
  width: 400px;
  margin: 20px;
  height: 150;
  border-radius: 10px;
  
}

.project-images img:hover {
  /*border: lightgray 1px solid;*/
  /*margin: ;*/

  width: 600px;
  margin: 20px;
  height: auto;
  
}

.spacer {
  height: 30px; /* adds 20 pixels of vertical space */
}

.image-left {
  text-align: left;
}

.image-right {
  text-align: right;
}


/*image styling designs*/
.image-left:hover  {
  background-color: #808080;
}

.image-right:hover {
  background-color: #808080;
}

.project-title-container {
  display: flex;
}

.project-title-item {
  flex: 1;
  border-top: 1px dotted #FF9933;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.content {
  border-top: #FF9933 dotted 1px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

