/* apply styles to every other div */
#project-content {
  text-align: center;
  
}

#project_head {
  background-color: #FCF6F5FF;
  padding: 10px;
}
#project-heading {
  text-align: left;
}

.Iproject:nth-child(even) {
  background-color: #FFFF;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20%;
  padding-right: 20%;
}

/* apply styles to odd-numbered divs */
.Iproject:nth-child(odd) {
  background-color: #EED971FF;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20%;
  padding-right: 20%;
  
}
