

/* apply styles to every other div */
 /*#project-content {
 text-align: center;
  border: lightgray 1px solid;
  
}*/

.project-heading {
  text-align: left;
}

.PSocialMedia {
  text-align: right;
}


.Iproject:nth-child(even) {
  /*background-color: #FFFF;*/
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20%;
  padding-right: 20%;
  border: #808080 1px solid;
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5px;
  background-color: #CCCCCC;
  
  
}

.Iproject:nth-child(even):hover {
  /*background-color: #FFFF;*/
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20%;
  padding-right: 20%;
  border: #FF9933 1px solid;
  border-radius: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5px;
  background-color: #FF9933;
  
  /*color: whitesmoke;*/
  
  
}

/* apply styles to odd-numbered divs */
.Iproject:nth-child(odd) {
  background-color: #808080;
  
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20%;
  padding-right: 20%;
  border: #808080 1px solid;
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5px;
  color: whitesmoke;
  
}


.project-images {
  border: lightgray 1px solid;
  background-color: #CCCCCC;
  
}

.project-images img {
  /*border: lightgray 1px solid;*/
  /*margin: ;*/
  width: 400px;
  margin: 20px;
  height: auto;
  
}

.project-images img:hover {
  /*border: lightgray 1px solid;*/
  /*margin: ;*/

  width: 600px;
  margin: 20px;
  height: auto;
  
}

.spacer {
  height: 30px; /* adds 20 pixels of vertical space */
}

.image-left {
  text-align: left;
}

.image-right {
  text-align: right;
}


/*image styling designs*/
.image-left:hover  {
  background-color: #808080;
}

.image-right:hover {
  background-color: #808080;
}

.project-title-container {
  display: flex;
}

.project-title-item {
  flex: 1;
}

