.project-type {
  
  background-color: #FF9933;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: left;
  color: white;
}

#application-type {
  font-size: xx-large;
  font-weight: bolder;
  
}

.project-type-container {
  display: flex;
}

.project-type-item {
  flex: 1;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  margin: 10px;
  border-radius: 10px;
}

