.App {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  
  
  
}

.spacer-heading {
  height: 20px; /* adds 20 pixels of vertical space */
}

NavLink Link {
  text-decoration: none;
}

a {
  text-decoration: none;
  
}

a:hover {
  text-decoration: underline;
  font-weight: bolder;
  
}

